* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-green {
  color: #9ee37d;
}
.bg-green {
  background-color: #9ee37d;
}
.bg-second {
  background-color: #f5f7fa;
}
.hero {
  background-image: url("public/img/fondo-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 70vh; */
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #79ff20, #7ef7ca) !important;
}

.testimonial-card .avatar {
  aspect-ratio: 1/1;
  background-color: #fff;
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.contaminacion {
  background: linear-gradient(#00000075, #00000059),
    url("public/img/conta-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.container {
  border-radius: 20px;
}
.problema {
  background: linear-gradient(#00000075, #00000059),
    url("public/img/probema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.card-css {
  background-image: url("./public/img/enyel-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
